.head{
    width:100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("https://yemak.uz/static/media/bg_image1.941827cc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-search{
    padding: 8rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.head-search-input{
    padding: 1rem;
    width: 100%;
    height: 46px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.head-logo{
    font-size: 60px;
    color: white;
    margin-bottom: 1rem;
}

.head-location{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-c{
    background-color: yellow;
    width: 10rem;
    margin: 10px;
}




@media only screen and(max-width: 1000px) {
    .head{
        height: 50vh;
        flex-direction: column;
    }
    .head-search{
        width: 100%;
        height: 50%;
        background-color: black;
    }

    .head-location{
        width: 100%;
        height: 50%;
        background-color: yellow;
    }

}

@media only screen and(max-width: 750px) {
    .head{
        height: 36vh;
    }
    .head-location {
        width: 100%;
        height: 50%;
        display: inline-flex;
    }
    .head-search {
        width: 100%;
        height: 50%;
        display: inline-flex;
    }
}